*.csproj
*.sln
.DS_Store
.idea
.vs
.vsconfig

/builds/*
/images/*
/Shot-*.png


/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
